 .tableBody {
        height: 35rem;
        width: 100%;
        margin: 0 auto;
        background-color: #ffffff;
        border-radius: 1rem;
        overflow-y: auto;

        table {
            width: 100%;

            tbody {
                tr {
                    td {
                        width: calc(100% / 3);
                        padding: 0.5rem 1rem 0.5rem 1rem;
                        text-align: center;

                        &.left {
                            cursor: pointer;
                            text-align: left;
                        }

                        &.right {
                            text-align: right;
                        }
                    }

                    &:hover {
                        background-color: #a8dadc;
                        color: white;
                    }
                }
            }
        }
    }

    .modal-header,
.modal-body,
.modal-footer {
    padding: 8px;
    border: none;
}

.modal-body {
    font-size: 20px;
}

.modal-header {
    h1 {
        font-size: 25px !important;
        font-weight: bold;
    }
}

.modal-footer {

    .buttoncolor {
        background-color: #F95454;
        border: none;
    }

    .btncolor {
        background-color: #7ED7C1;
        border: none;
    }
}