<div class="tableBody">
    <table>
        <tbody>
            @for (tsk of tasks; track $index) {
            <tr>
                <td class="left" data-bs-toggle="modal" data-bs-target="#tskModal" (click)="openModal(tsk.id)">
                    {{ tsk.name }}
                </td>
                <td>
                    {{ tsk.dueDate.toLocaleDateString('pt-BR') }}
                </td>
                <td class="right"><a type="button" class="finalizarTsk">Finalizar Tarefa</a></td>
            </tr>
            }
        </tbody>
    </table>
</div>

@if(modalTask){
    <div class="modal fade " id="tskModal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content" [style.background-color]="modalTask.color">
                <div class="modal-header">
                    <h1 class="modal-title fs-5">Detalhes da Tarefa</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p><strong>Nome:</strong> {{ modalTask.name }}</p>
                    <p><strong>Prazo Final:</strong> {{ modalTask.dueDate.toLocaleDateString('pt-BR') }}</p>
                    <p><strong>Descrição:</strong> {{ modalTask.discricao }}</p>
                    <p><strong>Status:</strong> {{ modalTask.statuss }}</p>
                    <p><strong>Categoria:</strong> {{ modalTask.category }}</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary buttoncolor" data-bs-dismiss="modal">Excluir</button>
                </div>
            </div>
        </div>
    </div>
    }