<div class="card">
    <div class="menu"></div>
    <form [formGroup]="form" class="form" (ngSubmit)="onSubmit()">
        <label for="taskName">Nome da Tarefa:</label>
        <input class="input" type="text" formControlName="name">

        <label for="status">Descrição:</label>
        <input class="input" type="text" formControlName="discricao">

        <label for="dueDate">Data Final:</label>
        <input class="input" type="date" formControlName="dueDate">

        <label for="color-select">Cor da Tarefa:</label>
        <select class="input" id="color-select" formControlName="color">
            <option value="" disabled selected>Selecione uma cor:</option>
           @for(color of colors; track $index){
            <option value="{{color.value}}">{{color.name}}</option>
           }
        </select>

        <label for="categoria-select">Categoria:</label>
        <div class="custom-select-container">
            <select id="categoria-select" class="input" formControlName="category" (change)="onCategoryChange($event)">
                <option value="" disabled selected>Selecione uma categoria</option>
                <ng-container *ngIf="categor.length > 0">
                    <option *ngFor="let op of categor" [value]="op.name">{{ op.name }}</option>
                </ng-container>
                <option value="outra">Outra...</option>
            </select>

            <div *ngIf="isOtherSelected">
                <label for="categoria-select">Digite a Nova Categoria:</label>
                <input type="text" class="input" formControlName="category" placeholder="Digite sua categoria" (input)="onCustomCategoryInput($event)">
            </div>
        </div>

        <div class="buttons">
            <button type="button" class="cancel-btn" routerLink="/">Cancelar</button>
            <button type="submit" class="confirm-btn">Confirmar</button>
        </div>
    </form>
</div>
